.ComponentWrapper {
  border: 1px solid black;
  float: left;
  text-align: center;
  margin: 10px 10px 0px 0;
  padding: 5px;
}

.ClassComponent {
  background-color: palegoldenrod;
  width: 300px;
  height: 300px;
}

.FunctionComponent {
  background-color: palevioletred;
  width: 300px;
  height: 300px;
}

.MainWrapper {
  border: 1px solid black;
  width: 1000px;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -511px;
}
